.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}
.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #0f1e49;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
}