.card-container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../images/backgrounds/grass-cropped.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  height: 204px;
  width: 186px;
  background-color: #CEF03C;
  cursor: pointer;
}
/* .click-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.card-icons-box{
  height: fit-content;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  margin: 8px auto;
}

.card-container button {
  margin: 0 auto;
  /* width: 75%; */
  padding: 6px; 
  font-size: 12px;
  /* background: var(--purple); */
  background: whitesmoke;
  color: var(--black);
  cursor: pointer;
  /* outline: 0; */
  
}

.card-buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  user-select: none;
  position: absolute;
}

.no-cursor{
  cursor: default;
}

