.cards-container{
  height: 250px;
  width: 220px;
  border: 2px solid chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.image-box{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  margin: 8px auto;
}

.progress-bar-container button {
  /* margin-right: 0 auto; */
  width: 75%;
  padding: 7px 12px;
  font-size: 14px;
  background: #0f1e49;
  color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  outline: 0;
}

.progress-bar-container{
  
}