.header-container{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}

.logo{
  background-image: url('../images/logoBlue.png');
  height: 2.5em;
  width: 30%;
  background-repeat:no-repeat;
  background-size:contain;
}

.cash-display{
  background: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
  padding: 3px;
  margin-right: 15%;
  width: fit-content;
}