*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body, #root, .app, .playscreen-main {
  margin: 0;
  height: 100%;
}

:root {
  --yellow: #ffc600;
  --black: #272727;
  --background-brown: #f2e9da;
  --green: #20bf55;
  --purple: #3b1f2b;
  --blue: #387d7a;
  --red: rgb(189, 44, 44);
  font-size: calc(1vw + 1vh);
}
body {
  padding: 0;
  font-family: sans-serif;
  background-color: var(--background-brown);
}


