*,
*:before,
*:after {
  box-sizing: inherit;
}



html, body, #root, .app, .playscreen-main {
  margin: 0;
  height: 100%;
}


:root {
  --yellow: #ffc600;
  --black: #272727;
  --background-brown: #f2e9da;
  --green: #20bf55;
  --purple: #3b1f2b;
  --blue: #387d7a;
  --red: rgb(189, 44, 44);
  font-size: calc(1vw + 1vh);
}
body {
  /* margin: .5em; */
  padding: 0;
  font-family: sans-serif;
  background-color: var(--background-brown);
  /* display: flex; */
  /* font-family: 'Indie Flower', cursive; */
  /* font-weight: bold; */
}
/* body button{
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
} */


.app {
  /* background-color: var(--background-brown); */

}