.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10px; */
  transform: translateY(5vh);
  -ms-transform: translateY(5vh);
  -moz-transform: translateY(5vh);
  -webkit-transform: translateY(5vh);
  -o-transform: translateY(5vh);
}
.home label {
  margin: 5px auto; 
}

.home-content{
  display: flex;
  flex-direction: column;
}
.home-content a{
  /* font-family: 'Indie Flower', cursive; */
  font-size: 1.1em;
  /* font-weight: bold; */
  text-align: center;
  background: whitesmoke;
  margin: 5px auto;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.login-form{
  display: flex;
  flex-direction: column;
  /* width: 25vw; */
  padding: 2.5em;
  /* height: 15vw; */
  /* align-items: center; */
  /* margin-top: 10px; */
  background: whitesmoke;
  text-align: center;
  /* margin: 19% auto; */
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 5px;
  width: 40vw;
}

.login-form input{
  width: 97%;
  margin: 5px auto;
  height: 25px;
  /* outline: none; */
}

.login-form button {
  /* margin-top: 10px; */
  background-color: var(--blue);
  margin: 10px auto 0 auto;
  color: whitesmoke;
  padding: 0;
  height: 35px;
  width: 100%;
  border-radius: 5px;
}

.form-error{
  background: var(--yellow);
  width: -moz-fit-content;
  border-radius: 5px;
  padding: 0px 4px;
}

.landing-logo{
  background-image: url('../images/logoBlue.png');

  /* height: 3em;
  width: 16em; */

  /* height: 8em;
  width: 36em; */

  height: 9vw;
  width: 47vw;

  background-repeat:no-repeat;
  background-size:contain;
}
