.playscreen-container{
  font-family: 'Indie Flower', cursive;
  /* font-weight: bolder; */
}

.cards9-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: .5em;
  max-width: 50%;
  /* border: 1px solid orange;   */
}
.cards4-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  padding: .5em;
  max-width: 50%;
  /* border: 1px solid orange;   */
}
.gray-scale{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.display-none{
  display: none;
}
.screenDisplay-button{
  padding-top: 0;
}
.screenDisplay-button span{
  margin: 0 auto;
  padding: 0;
}