.playscreen-main{
  font-family: 'Indie Flower', cursive;
  /* font-weight: bolder; */
}

.cards-container-main{
  display: flex;
  width: 66%;
}

/* .cards-container-main{
  display: grid;
  width: 66%;
  grid-template-columns: repeat(2,1fr);
} */

/* .playscreen-content{
  display: flex;
  height: 88vh;
} */
.playscreen-content{
  display: grid;
}

.playscreen-inventory{
  width: 33%;

}



.cards9-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .3em;
  row-gap: .3em;
  padding: .3em;
  height: 76vh;
  /* width: 35vw; */
  max-width: 60%;
  border: 1px solid orange;  
}

.cards4-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .3em;
  row-gap: .3em;
  padding: .3em;
  height: 48vh;
  /* width: 15%; */
  max-width: 40%;
  border: 1px solid greenyellow;  
}
.barn-image{
  height: 30vh;
}

.gray-scale{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.display-none{
  display: none;
}
.screenDisplay-button{
  padding-top: 0;
}
.screenDisplay-button span{
  margin: 0 auto;
  padding: 0;
}