.progress-bar {
  /* position: relative; */
  margin: 0 auto;
  height: 20px;
  width: 90%;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}
.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
}

.small-crop-icon{
  height: 3em;
}
.progress-bar-btn-text{
  position: absolute;
}