.progress-bar {
  /* position: relative; */
  margin: 0 auto;
  height: 1.5vw;
  width: 90%;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  background: rgba(255,255,255,0.2);
  /* display: inline-block; */
}
.filler {
  background: rgb(0, 79, 168);
  height: 100%;
  border-radius: inherit;
}
.progress-bar-btn-text{
  position: absolute;
  /* text-align: center; */
  width: 10.5%;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none; /* prevent highlight clicking */
  font-size: .65em;
}
.disabled-pointer-events{
  pointer-events:none;
}
.reduce-opacity{
  opacity: .4;
}


@keyframes blink {
  0% {
    background-color: rgba(0, 79, 168,1)
  }
  50% {
    background-color: rgba(0, 79, 168,.5)
  }
  100% {
    background-color: rgba(0, 79, 168,1)
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: rgba(0, 79, 168,1)
  }
  50% {
    background-color: rgba(0, 79, 168,.5)
  }
  100% {
    background-color: rgba(0, 79, 168,1)
  }
}

@keyframes blinkBroken {
  0% {
    background-color: rgb(187, 23, 23)
  }
  50% {
    background-color: rgba(105, 2, 2, 0.5)
  }
  100% {
    background-color: rgb(187, 23, 23)
  }
}
@-webkit-keyframes blinkBroken {
  0% {
    background-color: rgb(187, 23, 23)
  }
  50% {
    background-color: rgba(105, 2, 2, 0.5)
  }
  100% {
    background-color: rgb(187, 23, 23)
  }
}
.progress-bar-manager{
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation:blink normal 1.5s infinite ease-in-out;
  /* Opera */
}

.progress-bar-manager-broken{
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blinkBroken normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blinkBroken normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blinkBroken normal 1.5s infinite ease-in-out;
  /* IE */
  animation:blinkBroken normal 1.5s infinite ease-in-out;
  /* Opera */
}